    <!-- Portfolio Grid Section -->
      <section class="portfolio" id="portfolio">
        <div class="container">
          <h2 class="text-center text-uppercase text-secondary mb-0">Portfolio</h2>
          <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="my-4"><%= @post.title %>
              <small>???</small>
            </h1>
          </div>   
        </div>
        <!-- Portfolio Item Row -->
        <div class="row">
          <div class="col-md-8">
            <%= image_tag @post.image, class: 'img-fluid rounded' %>
          </div>
          <div class="col-md-4">
            <h3>Project Description</h3>
            <p>
              <%= @post.body %>
            </p>
          </div>
        </div>
        <!-- /.row -->
        <!-- Related Projects Row -->
        <div class="row">
          <div class="col-lg-12">
            <h3 class="my-4">Related Projects</h3>
          </div>
         <%= Post.find_each(batch_size: 3) do |post| %>
          <div class="col-md-4 p-4 mx-auto">
            <%= link_to post_path(post) do %>
              <%= image_tag post.image, class: 'img-fluid rounded' %>
            <% end %>
          </div>
          <% end %>
        </div>
        <!-- /.row -->
      </div>
    </section>
    <!-- /.container -->
    <!-- Contact Section -->
    <section id="contact">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Contact Me</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
            <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
            <form name="sentMessage" id="contactForm" novalidate="novalidate">
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Name</label>
                  <input class="form-control" id="name" type="text" placeholder="Name" required="required" data-validation-required-message="Please enter your name.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Email Address</label>
                  <input class="form-control" id="email" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Phone Number</label>
                  <input class="form-control" id="phone" type="tel" placeholder="Phone Number" required="required" data-validation-required-message="Please enter your phone number.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Message</label>
                  <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <br>
              <div id="success"></div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>



    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; Your Website 2018</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>


